/* Import the google web fonts you want to use */
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&family=Lobster&family=Press+Start+2P&family=Tourney&display=swap');

/*Typography
--------------------------------------------------------------*/
body,
input,
select,
textarea {
    color: #404040;
    font-size: 14px;
    line-height: 1.5;
}

body {
    padding: 0 3rem;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Lobster';
    color: #0F0E0A
}

h2 {
    font-size: 1.5rem;
    font-family: 'Lobster';
    color: #0F0E0A;
}

h3 {
    font-size: 1.5rem;
    font-family: 'Lobster';
    color: #0F0E0A;
}

h4 {
    font-size: 1.0rem;
    font-family: 'Lobster';
    color: #0F0E0A;
}

h5 {
    font-size: .75rem;
    font-family: 'Lobster';
    color: #0F0E0A;
}

p {
    margin-bottom: 1.5em;
}

.title--main {
    margin-block-end: 0;
}