@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&family=Lobster&family=Press+Start+2P&family=Tourney&display=swap');

.navbar {
    background-color: #FFD9DA;
    color: #FFD9DA;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 10px;
    border-bottom: 4px solid #89023E
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

.navbar__logout {
    margin-left: auto;
}

.navbar__link,
.nav-link {
    text-decoration: none;
    font-weight: bold;
    color: #89023E;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-family: 'IBM Plex Mono', sans-serif;
    display: flex;
    align-items: center;
}